/*html {}*/
.base-01.template .navigation-bar .level ul li {
    padding: 0.15rem 0;
    margin-top: 0.15rem;
}
.base-01.template .navigation-bar .level ul li:first-of-type {
    margin-top: 0;
}
.base-01.template .navigation-bar .level ul li .navbar-item {
    margin: 0;
    padding: 0 0.33rem;
}

html,
.base-01.template {
    background: #202835;
}

.base-01.template .container.navigation-bar .level .level-item,
.base-01.template .container.navigation-bar .level .level-item .menu-list a {
    color: hsl(0, 0%, 96%);
}
.base-01.template .container.navigation-bar .level .level-item:hover,
.base-01.template .container.navigation-bar .level .level-item .menu-list a:hover {
    color: hsl(0, 0%, 25%);
}

.base-01.template .container.is-desktop {
    max-width: 30rem;
}

.base-01.template .container.is-desktop .errorlist  {
    list-style: disc;
    margin-left: 1rem;
}

.base-01.template .page-footer .icon.is-medium {
    height: 1rem;
}
.base-01.template .page-footer .icon {
    fill: hsl(0, 0%, 96%);
}